{% extends "base.html" %}
{% block titulo %}Historial de Ventas{% endblock %}

{% block contenido %}
<div class="contenedor_historial">
    <h2>Historial de Ventas</h2>
    <table class="tabla_historial">
        <thead>
            <tr>
                <th>ID Venta</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id_venta }}</td>
                <td>{{ venta.fecha_hs }}</td>
                <td>{{ venta.id_cli.nombre_cli }} {{ venta.id_cli.apellido_cli }}</td>
                <td>${{ venta.total_venta }}</td>
                <td><a href="{% url 'det_venta' venta.id_venta %}" class="btn detalle">Ver Detalle</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No hay ventas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
