.articulos-views{
    width: 10%; /* Ajusta el ancho según lo necesites */
    max-width: 800px; /* Ancho máximo para el contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: #f9f9f9; /* Fondo del contenedor */
}

.chart-label {
    text-align: center; /* Centra el texto */
    font-size: 1.5em; /* Tamaño de la fuente */
    margin-bottom: 10px; /* Margen inferior */
}

