{% extends "base.html" %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
    
    <div id="articulos-view"> <!-- Cambié la clase a un ID para personalizar estilos -->
        <h3>Artículos</h3>
        <div class="table-container">
            <ul class="productos-list">
                {% for producto in productos %}
                    <li class="productos-item">
                        {{ producto.nombre_prod }} - ${{ producto.precio_prod }}
                    </li>
                {% empty %}
                    <li class="productos-item no-data">No hay artículos disponibles.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
