{% extends "base.html" %}
{% load static %}
{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<div class="contenedor_compras">
    <div class="caja_compras">
        <div class="header">
            <h1>Nueva Compra</h1>
        </div>

        <form action="{% url 'crear_compra' %}" method="POST">
            {% csrf_token %}
            <!--FECHA DEL DIA-->
            <div class="compras_fecha">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha_hs" name="fecha_hs" readonly >
            </div>

            <!-- SELECCION DEL PROVEEDOR -->
            <div class="compras_proveedor">
                <label for="proveedor">Proveedor:</label>
                <select name="proveedor" id="proveedor">
                    {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id_prov }}">{{ proveedor.nombre_prov }}</option>
                    {% endfor %}
                </select>
            </div>
    
        
            <table id="tabla_compras">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Precio Costo</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- AQUI SE CARGAN LOS PRODUCTOS -->
                </tbody>
            </table>
        
            <div class="total_compra">
                <label for="total">Total:</label>
                <input type="number" id="total" name="total" readonly value="0">
            </div>
            <div class="botones">
                <button class="btn-aceptar_compra" type="submit" value="Guardar">Aceptar</button>
                <button class="btn nueva_compra" type="button" onclick=window.location.href='{% url 'crear_compra' %}'>Nueva compra</button>
            </div>
        </form>
        
    </div>

    <!-- CAJA DE PRODUCTOS -->
    <div class="caja_productos">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Productos</h4>

                <div class="table-responsive">
                    <table class="table table-primary">
                        <thead>
                            <tr>
                                <th scope="col">Codigo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                            <tr>
                                <td>{{ producto.id_prod }}</td>
                                <td>{{ producto.nombre_prod }}</td>
                                <td>{{ producto.precio_prod }}</td>
                                <td>
                                    <button type="button" class="btn btn-success agregar-producto" data-id="{{ producto.id_prod }}" data-nombre="{{ producto.nombre_prod }}" data-precio="{{ producto.precio_prod }}">
                                        Añadir
                                    </button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No hay artículos disponibles.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="static/scripts/crear_compra.js"></script>

{% endblock %}
