<form class="formulario-editar-empleado" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% for campo in formulario %}
    <div class="contenedor_formulario">
        <label for="{{ campo.id_for_label }}" class="formulario_label">{{ campo.label }}</label>
        {{ campo }} <!-- Aquí renderiza el campo completo -->
        {% if campo.help_text %}
        <small id="{{ campo.id_for_label }}_help" class="formulario_texto">{{ campo.help_text }}</small>
        {% endif %}
        {% for error in campo.errors %}
        <div class="texto_peligro">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <button class="btn_guardar_editar_empleado" type="submit">Guardar</button>
    <a href="{% url 'mostrar_empleados' %}">Cancelar</a>
</form>
