{% extends "base.html" %}
{% load static %}

{% block titulo %}Historial de Caja{% endblock %}

{% block contenido %}
<div id="pa_contenedor_historial">
    <h2>Historial de Caja</h2>

    <!-- Barra de botones para registrar acciones -->
    <div class="button-container">
        <a href="{% url 'apertura_arqueo' %}" class="btn btn-primary custom-btn">Apertura de Caja</a>
        <a href="{% url 'registrar_ingreso' %}" class="btn btn-secondary custom-btn">Registrar Ingreso</a>
        <a href="{% url 'registrar_egreso' %}" class="btn btn-danger custom-btn">Registrar Egreso</a>
    </div>

    <!-- Contenedor de la tabla con scroll -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID Caja</th>
                    <th>Fecha Apertura</th>
                    <th>Fecha Cierre</th>
                    <th>Monto Inicial</th>
                    <th>Monto Final</th>
                    <th>Total Ingreso</th>
                    <th>Total Egreso</th>
                    <th>Cerrar Caja</th>
                </tr>
            </thead>
            <tbody>
                {% for arqueo in arqueos %}
                <tr class="{% if arqueo.fecha_hs_cierre %}closed{% endif %}">
                    <td>{{ arqueo.id_caja }}</td>
                    <td>{{ arqueo.fecha_hs_apertura }}</td>
                    <td>{% if arqueo.fecha_hs_cierre %}{{ arqueo.fecha_hs_cierre }}{% else %}-{% endif %}</td>
                    <td>${{ arqueo.monto_inicial }}</td>
                    <td id="monto-final-{{ arqueo.id_caja }}">${{ arqueo.monto_final }}</td>
                    <td>${{ arqueo.total_ingreso|floatformat:"2"|default_if_none:"-" }}</td>
                    <td>${{ arqueo.total_egreso|floatformat:"2"|default_if_none:"-" }}</td>
                    <td>
                        {% if arqueo.fecha_hs_cierre %}
                            Cerrada
                        {% else %}
                            <a href="{% url 'cerrar_arqueo' arqueo.id_caja %}" class="cerrar-caja">Cerrar</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="no-data">No hay registros de caja disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
            {% if arqueos %}

            {% endif %}
        </table>
    </div>
</div>

<script>
function actualizarMontos(id_caja) {
    fetch(`/obtener_monto_final/${id_caja}/`)
    .then(response => response.json())
    .then(data => {
        document.getElementById(`monto-final-${id_caja}`).innerText = `$${data.monto_final}`;
    });
}

// Actualiza los montos cada 10 segundos
setInterval(() => {
    document.querySelectorAll('[id^="monto-final-"]').forEach(element => {
        const id_caja = element.id.split('-')[2];
        actualizarMontos(id_caja);
    });
}, 10000);
</script>

{% endblock %}
