{% extends "base.html" %}
{% load static %}
{% block titulo %}Movimientos de Caja{% endblock %}
{% block contenido %}
<div id="pa_contenedor_movimientos">
    <h2>Movimientos de Caja {{ caja.id_caja }} - {{ caja.fecha_hs_apertura }}</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Monto</th>
                    <th>Hora</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento.tipo_literal }}</td>
                    <td>${{ movimiento.monto }}</td>
                    <td>{{ movimiento.fecha|time }}</td>
                    <td>{{ movimiento.descripcion }}</td>
                </tr>
                {% endfor %}
                {% for ingreso in ingresos %}
                <tr>
                    <td>Ingreso</td>
                    <td>${{ ingreso.monto }}</td>
                    <td>{{ ingreso.fecha_ingreso|time }}</td>
                    <td>{{ ingreso.descripcion }}</td>
                </tr>
                {% endfor %}
                {% for egreso in egresos %}
                <tr>
                    <td>Egreso</td>
                    <td>${{ egreso.monto }}</td>
                    <td>{{ egreso.fecha_egreso|time }}</td>
                    <td>{{ egreso.descripcion }}</td>
                </tr>
                {% endfor %}
                {% for venta in ventas %}
                <tr>
                    <td>Venta</td>
                    <td>${{ venta.total_venta }}</td>
                    <td>{{ venta.fecha_hs|time }}</td>
                    <td>{{ venta.descripcion }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

<link rel="stylesheet" href="/static/css/estilo_movimiento_arqueo.css"> 
{% endblock %}